<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <title>nueva agrupación</title>
</head>
<body>

<ul>
  <li><a th:href="@{/}" th:id="home_link" th:text="#{menu.home}">Inicio</a></li>
  <li>
    <a th:href="@{/backstage/new-agrupacion}" th:text="#{backstage.agrupacion}">Mantener Agrupaciones</a>
  </li>
  <li>
    <a th:href="@{/backstage/new-tema}" th:text="#{backstage.tema}">Mantener Temas</a>
  </li>
</ul>


<form th:action="@{/backstage/new-agrupacion}" th:object="${agrupacion}" method="post">

  <div>
    <label for="texto">Texto:</label>
    <textarea class="form-control" id="texto" rows="3" th:field="*{texto}"></textarea>
  </div>

  <button type="submit" th:text="#{submit.guardar}">guardar</button>

</form>

</body>
</html>