<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="es">
<head>
  <title>Log In</title>
</head>
<body>
<h1 th:text="#{login.title}">Please Log In</h1>

<div th:if="${param.error}" th:id="error" th:text="#{login.error}">
  Invalid username and password.
</div>

<form th:action="@{/login}" method="post">
  <div>
    <input type="text" name="username" placeholder="Username"/>
  </div>
  <div>
    <input type="password" name="password" placeholder="Password"/>
  </div>
  <input type="submit" value="Log in" />
</form>
</body>
</html>