<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>registers</title>
</head>
<body>

<h1>register</h1>

<form id="register-form" enctype="utf8" method="POST" th:action="@{/user/register}">

  <div>
    <label for="firstName">
      first name
    </label>
    <input id="firstName" name="firstName" value="" required="required" />
    <span id="firstNameError" style="display: none"></span>
  </div>

  <div>
    <label for="lastName">
      last name
    </label>
    <input id="lastName" name="lastName"  value="" required="required" />
    <span id="lastNameError" style="display: none"></span>
  </div>

  <div>
    <label for="email">
      email
    </label>
    <input id="email" type="email" name="email" value="" required="required" />
    <span id="emailError" style="display: none"></span>
  </div>

  <div>
    <label for="password">
      password
    </label>
    <input id="password" name="password" value="" type="password" required="required" autocomplete="new-password" />
    <span id="passwordError" style="display: none"></span>
  </div>

  <div>
    <label for="matchPassword">
      confirm password
    </label>
    <input id="matchPassword" class="form-control" name="matchingPassword" value="" type="password" required="required" autocomplete="new-password" />
    <span id="globalError" style="display: none"></span>
  </div>

  <button type="submit">
    submit
  </button>
</form>

  <ul>
    <li><a th:href="@{/}" th:id="home_link" th:text="#{menu.home}">Inicio</a></li>
  </ul>

<script lang="javascript">

    window.addEventListener("DOMContentLoaded", function() {

        console.log("DOMContentLoaded");

        let form = document.getElementById("register-form");
        let data = new FormData(form);

        document.addEventListener('submit', function (event) {
            console.log("submit");

            event.preventDefault();

            let pass = document.getElementById("password");
            let matchPass = document.getElementById("matchPassword");
            let errorElement = document.getElementById("globalError");

            if (pass.value !== matchPass.value) {
                errorElement.style.display = 'block';
                errorElement.textContent = "[[#{PasswordMatches.user}]]";
                return false;
            } else {
                errorElement.style.display = 'none';
                errorElement.textContent = "";
            }

            fetch('/user/register',{
                method: 'POST',
                body: new FormData(event.target)
            }).then( (response) => {
                if (response.ok) {
                    return response.json()
                }
                return Promise.reject(response);
            }).then(function (data){
               window.location.href = data.redirectUrl;
           }).catch(function (error) {
               error.json().then( (error) => {
                   console.error(error.message);
                   errorElement.style.display = 'block';
                   errorElement.textContent = error.message;
               })
           })
        });

    });
</script>

</body>
</html>