<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>registers</title>
</head>
<body>

<h1>register</h1>

<form th:action="@{/user/register}" method="POST" enctype="utf8">

  <div>
    <label for="firstName">
      first name
    </label>
    <input id="firstName" name="firstName" value="" required="required" />
    <span id="firstNameError" style="display: none"></span>
  </div>

  <div>
    <label for="lastName">
      last name
    </label>
    <input id="lastName" name="lastName"  value="" required="required" />
    <span id="lastNameError" style="display: none"></span>
  </div>

  <div>
    <label for="email">
      email
    </label>
    <input id="email" type="email" name="email" value="" required="required" />
    <span id="emailError" style="display: none"></span>
  </div>

  <div>
    <label for="password">
      password
    </label>
    <input id="password" name="password" value="" type="password" required="required" autocomplete="new-password" />
    <span id="passwordError" style="display: none"></span>
  </div>

  <div>
    <label for="matchPassword">
      confirm password
    </label>
    <input id="matchPassword" class="form-control" name="matchingPassword" value="" type="password" required="required" autocomplete="new-password" />
    <span id="globalError" style="display: none"></span>
  </div>

  <button type="submit">
    submit
  </button>
</form>


</body>
</html>