<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Akdemia dbhstudios</title>
</head>
<body>
<h1>Akdemia dbhstudios</h1>

<div th:if="${param.logout}">
  You have been logged out.
</div>

<div sec:authorize="!isAuthenticated()">
  <a th:href="@{/login}" th:id="login">Log In</a>
</div>

<div sec:authorize="isAuthenticated()">
  <div sec:authentication="name"></div>
  <a th:href="@{/logout}" th:id="logout">Log Out</a>
</div>

</body>
</html>