<html lang="en" xmlns:th="https://www.thymeleaf.org">
<body>

<h1>Subir archivos</h1>

<div th:if="${message}">
  <h2 th:text="${message}"/>
</div>

<div>
  <form method="POST" enctype="multipart/form-data" th:action="@{/file}">
    <table>
      <tr>
        <td>File to upload:</td>
        <td><input type="file" name="file" /></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Upload" /></td>
      </tr>
    </table>
  </form>
</div>

<div>
  Lista de Archivos:
  <ul>
    <li th:each="file : ${files}">
      <a th:href="${file}" th:text="${file}" />
    </li>
  </ul>
  <ul>
    <li th:unless="${files.size gt 0}">NO hay ficheros</li>
  </ul>
</div>

</body>
</html>